package entity

import "time"

type {{ .EntityName }} struct {
    ID string `json:"id"`
{{- range .Fields }}
    {{ .Name }} {{ .GoType }} `json:"{{ .JSONName }}"`
{{- end }}
    CreatedAt time.Time `json:"created_at"`
}
