package http

import (
    "net/http"
    "{{ .ImportPath }}/internal/domain/service"
)

type {{ .EntityName }}Handler struct {
    service service.{{ .EntityName }}Service
}

func New{{ .EntityName }}Handler(s service.{{ .EntityName }}Service) *{{ .EntityName }}Handler {
    return &{{ .EntityName }}Handler{service: s}
}

func (h *{{ .EntityName }}Handler) Create(w http.ResponseWriter, r *http.Request) {}
func (h *{{ .EntityName }}Handler) GetByID(w http.ResponseWriter, r *http.Request) {}
func (h *{{ .EntityName }}Handler) List(w http.ResponseWriter, r *http.Request) {}
func (h *{{ .EntityName }}Handler) Update(w http.ResponseWriter, r *http.Request) {}
func (h *{{ .EntityName }}Handler) Delete(w http.ResponseWriter, r *http.Request) {}
