package mocks

import "{{ .ImportPath }}/internal/domain/entity"

type Mock{{ .EntityName }}Repo struct {
    SaveFn func(*entity.{{ .EntityName }}) error
}

func (m *Mock{{ .EntityName }}Repo) Save(e *entity.{{ .EntityName }}) error {
    if m.SaveFn != nil {
        return m.SaveFn(e)
    }
    return nil
}
